{% extends "base.html" %}
{% load static %}

{% block extra_head %}

<style>
/* about us section */

  #intro {
        background-image: url("{% static 'img/felipe-simo-ktltWUbd1lk-unsplash.jpg' %}");        
        height: 100vh;
        background-size: cover;   
        background-attachment: fixed;       
  }

  .about-title{
    color: #5e9693;
    font-size: 60px;
  }

/* services section */
  #services{   
    background-color: black;
  }
  #services h3{
    font-size: 14px;
    letter-spacing: 12px;
    text-transform: uppercase;
  } 
  #services h1{
    color: #5e9693;
    font-size: 80px;
  }

/* our work section */
  #project .project-item{
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
  }
  #project .project-item .project-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all ease-in-out 0.4s;
  }
  #project .project-item:hover .project-overlay{
    opacity: 1;
  }
  #project .project-item .project-overlay .project-info{
    padding: 8em 0;
  }
  .project-info h1{
    color: white;
    margin: 0;
  }
  .project-info h3{
    color: #d9d9d9;
    margin-top: 0;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  .project-item img{
    transition: all ease-in-out 0.6s;
  }
  .project-item:hover img{
    transform: scale(1.1);
  }

</style>
{% endblock %}

{% block content %}
<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong" ></div>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0);">
    <div class="d-flex justify-content-start align-items-center h-100 p-5">
      <div class="text-white text-start">
        <h1 class="mb-3 display-1" style="font-size: 100px;" ><strong>Mobile Auto Detailing</strong> </h1>
        <h5 class="mb-4 fw-bold mx-2" style="font-size: 30px;">Professional Vehicle Detailing</h5>
        <a class="btn btn-primary btn-lg m-2 mx-1" href="/" role="button"
          rel="nofollow" target="_blank">Our Services</a>
        <a class="btn btn-info btn-lg m-2" href="/" target="_blank"
          role="button">Contact Us</a>
      </div>
    </div>
  </div>
  
</div>
<!-- Background image -->

<!--Section: About us-->
<section>
  <div class="container-fluid">
    <div class="row py-5 my-5">
      <div class="services-text text-center py-5 col-md-10 col-sm-12 mx-auto">
        <h1 class="pb-3" >“Your satisfaction is our priority.” <h5>-MobileAutoDetailing</h5></h1>         
      </div>
    </div>
  </div>
</section>
<section class="about-us">
  <div class="row">
    <div class="col-md-6 gx-5 mb-4">
      <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
        <img src="{% static 'img/87775476_2854938131212345_8185328512140312576_n.jpeg' %}" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
    </div>

    <div class="col-md-6 gx-5 mb-4">
      <h2 class="about-title"><strong>About Us</strong></h2>
      
      <h3 class="text-muted mt-2">
        We provide everythings a physical vehicle detailing business does with a lower price and in a more convenient way.<br> With over 15 years of experience with more than 5000 satisfied clients, We bring our high-quality detailing services at your doorstep.
      </h3>
      <h2 class="mt-5"><strong>Why choose us</strong></h2>
      <h3 class="text-muted">
        Save time – Since a detailer comes to you, there’s no waiting at a busy car wash.
        <br>
      </h3>
      <h3 class="text-muted">
        Save money – It’s able to provide a better value for your money, without large facility and workforce to support.
        You’ll get a higher quality of service for a more affordable price.
        <br>
      </h3>
      <h3 class="text-muted">
        Schedule in advance – You can save up to 30% by scheduling your mobile detailing each month. With monthly packages, you
        can count on your vehicle being clean every day and save bucks in the process.
        <br>
      </h3>
      <h3 class="text-muted">
        Work with a trusted professional – At a car wash, you never know who is working on your vehicle, and the quality can
        vary each visit. With a detailing service, you can work with a trusted professional and be sure that your car will look
        ideal after every visit.
        <br>
      </h3>
      <h3 class="text-muted">
        Comfort and convenience – To business people, comfort and convenience are probably the top benefits this service can
        bring.
        <br>
      </h3>
      <h3 class="text-muted">
        Added durability – A service that you shouldn’t miss is waxing. It can protect your car’s paint from the ravages of
        natural elements like UV rays, sand, stone chips, rain, snow, and so on.
        <br>
      </h3>
    </div>
  </div>
</section>

<!--Section: Services-->
  <section id="services">
    <div class="container">
      <div class="row py-5 my-5">
        <div class="services-text text-center py-5 col-md-10 col-sm-12 mx-auto">
          <h3 class="pb-3" style="color: white;">Our Services</h3>
          <h1>3-Layer Ceramic Coating</h1>         
          <h1>3-Step Polishing</h1>
          <h1>WindScreen Coating</h1>
          <h1>Engine Coating</h1>
          <h1>Headlight Restoration</h1>
          <h1>Rim Coating</h1>
          <h1>Interior Coating</h1>
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-lg">Learn more </button>
        </div>
      </div>
    </div>
    
  </section>
  
  <!--Section: End Services-->

  <!--Section: Our work-->

  <section id="project" style="background-color:rgba(251, 251, 251, 0.15);">
    <div class="container py-5">
      <div class="row ">
        <div class="services-text text-center py-5 col-md-10 col-sm-12 mx-auto">
          <h1 class="pb-3">Our Work <h5>-Mobile Auto Detailing</h5></h1>  
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid"  src="{% static 'img/39962123_486578641853623_3759658579569672192_n.jpeg' %}" alt="">
              
              <div class="project-overlay">
                <div class="project-info">
                  <h1>BMW F10</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/60292315_2257712347601596_235938058401218560_n.jpeg' %}" alt="">       
              <div class="project-overlay">
                <div class="project-info">
                  <h1>Mercedes GLC250 </h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/59964321_2255853021120862_1937608005201690624_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>Jaguar</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/57272153_2221137051259126_1364817615985311744_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>MiniCooper Clubman</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/57504157_2223328011040030_8124600350339497984_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>Toyota Alphard</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/57550555_2223013384404826_1855127680882573312_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>Mercedes E200</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/29356918_1693769530662550_4462593010500108288_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>BMW F10</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 mb-5">
          <div class="project-item">
            <a href="/">
              <img class="img-fluid" src="{% static 'img/39453728_1886696298036538_2217151062672932864_n.jpeg' %}" alt="">
        
              <div class="project-overlay">
                <div class="project-info">
                  <h1>Range Rover</h1>
                  <h3>3-Layer Ceramic Coating</h3>
                  <a class="btn btn-primary btn-lg" href="/">Learn more</a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>  
  </section>
  <!--Section: End our work-->

  <!--Section: Content-->
  <section class="mb-5 p-5 mt-5">
    <h1 class="mb-5 text-center"><strong>Subscribe Now</strong></h1>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example1" class="form-control" />
                <label class="form-label" for="form3Example1">First name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form3Example2" class="form-control" />
                <label class="form-label" for="form3Example2">Last name</label>
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">
            Sign up
          </button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>or sign up with:</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-instagram"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--Section: Content-->  
  </div>
</main>

{% endblock content %}