
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand nav-link" target="_blank" href="/">
      <strong>MobileAutoDetailing</strong>
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="#intro">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" rel="nofollow"
            target="_blank">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">After Care</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mdbootstrap.com/docs/standard/" target="_blank">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav list-inline">
        <!-- Icons -->
        <li class="">
          <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
            target="_blank">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
        <li class="">
          <a class="nav-link" href="/login" >
            <i class="">Account</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->
